<div class="container mt-4 p-4 bg-light shadow outlets">

  <!-- Tittle -->
  <h2>{{title|titlecase}}</h2>
  <button type="submit" mat-flat-button color="primary" (click)="addClient()">Add new client</button>

  <!--Input Search client, initializes with all clients-->
  <mat-form-field class="w-100 mt-2">
    <input matInput placeholder="Search... " (keyup)="search($event)" type="text" name="firstName">
  </mat-form-field>
  <br>

  <!--Table-->
  <table class="mainTable" *ngIf="searchClients.length != 0" mat-table [dataSource]="searchClients"
    multiTemplateDataRows class="mat-elevation-z8">

    <!--Main information-->
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">

      <!--Columns names-->
      <th mat-header-cell *matHeaderCellDef> {{column | uppercase}} </th>

      <!--Information the columns-->
      <td mat-cell *matCellDef="let person"> {{person[column] | uppercase}} </td>
    </ng-container>

    <!--Remaining customer information is expanded-->
    <ng-container matColumnDef="expandedDetail">

      <td mat-cell *matCellDef="let person" [attr.colspan]="columnsToDisplay.length">
        <div class="element-detail my-2 d-flex flex-column moreContent"
          [@detailExpand]="person == expandedElement ? 'expanded' : 'collapsed'">
          <div class="mt-2 p-2 d-flex justify-content-between">

            <!--Information about the person-->
            <h5>Personal Information:</h5>
          </div>

          <!--Box with all the personal information of the person divided in 3 columns-->
          <!--1 column-->
          <mat-grid-list cols="3" rowHeight="10em" class="border rounded m-2">
            <mat-grid-tile>
              <div>
                <p> <b>ID:</b> {{person.id}} </p>
                <p> <b>Age:</b> {{person.age}} </p>
                <p> <b>Phone:</b> {{person.phone}} </p>
              </div>
            </mat-grid-tile>

            <!--2 column-->
            <mat-grid-tile>
              <div>
                <p> <b>Street:</b> {{person.address.street_name |uppercase}} {{person.address.number}},
                  {{person.address.other}} </p>
                <p> <b>City:</b> {{person.address.city|uppercase}} </p>
                <p> <b>Postal code:</b> {{person.address.postal_code}} </p>
              </div>
            </mat-grid-tile>
          </mat-grid-list>

          <!--Medical Data-->
          <div class="p-2" *ngIf="person.medical_data.diseases.length != 0 || person.comments != null ||
                                   person.medical_data.analysis.type != null">
            <h6>Medical Data: </h6>

            <!--Diseases names-->
            <div class="p-2 border rounder d-flex flex-wrap" *ngIf="person.medical_data.diseases.length != 0">
              <span *ngFor="let disease of person.medical_data.diseases" class="p-2 mx-1 bg-light rounded-pill">
                {{disease|titlecase}}
              </span>
            </div>

            <!--Comments-->
            <div class="mt-3" *ngIf="person.comments != null">
              <h6 class="text-dark">Comments:</h6>
              <p class="px-4 bg-light mt-2"> {{person.comments}}</p>
            </div>

            <!--Information the sequence-->
            <div *ngIf="person.medical_data.analysis.type != null">
              <br>
              <h6>Sequence:</h6>
              <div class="p-1 py-2 my-1 border rounded">
                <span class="text-info font-weight-bolder">{{person.medical_data.analysis.type | uppercase}} </span>
                <span>({{person.medical_data.analysis.tested?"Tester":"Not tested"}}):</span>
                <br>
                <p class="p-1 bg-light">{{person.medical_data.analysis.sequence}}</p>
              </div>
            </div>

          </div>

        </div>

      </td>
      
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let person; columns: columnsToDisplay;" class="element-row"
      [class.expanded-row]="expandedElement === person"
      (click)="expandedElement = expandedElement === person ? null : person">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>

</div>