table{
  width: 100%;
  margin: auto;

}

.mainTable {
    width: 95% !important;
  }
  .moreContent{
    box-shadow: 0 0 0.5em 0 rgb(136, 136, 136);
  }
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: #777;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  

  
  .titleInformation {
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
  }
  
  .element-description {
    padding: 16px;
  }
  
  .element-description-attribution {
    opacity: 0.5;
  }