<!--
  @name = Atom Component HTML
  @author = David Medel / Esther Vendrell
  @version = 0.0.1
  @description = Main user interface of the Atom component
  @date = 03-02-2020
-->

<app-navbar></app-navbar>
<!-- form, when submit calls the atom() method-->
<form #atomForm="ngForm" action="" (submit)="atom()">
    <div class="bg-dark">
        <div class="form-horizontal" style="padding:20px">
            <div class="col-xs-12">
                <h4 style="color:#D5D5D5; text-align:center">Atom Form</h4>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="col-sm-9"><b>Select Atom</b></h5>
            </div>
        </div>
        <hr style="width:96%; margin-left:15px; margin-top:0;" />
        <br />

        <!-- Trend -->
        <!-- fills the select with the arr_trend values, set the value objAtom.trend and 
            on ngModelChange calls the function changeSubtrend()-->
        <label class="col-sm-2">(*) Trend: </label>
        <div class="col-sm-6">
            <select class="form-control" name="trend" [(ngModel)]="objAtom.trend" (ngModelChange)="changeSubtrend()">
        <option  *ngFor="let trend of arr_trend; let i = index"
          [ngValue]="trend">{{ trend.trend }}</option>
      </select>
        </div>
        <br />

        <!-- SubTrend -->
        <!-- fills depending on the objAtom.trend.id fills the select with the arr_subtrend_metal values or
        the arr_subtrend_nonmetal values or don't show the select
        set the value of objAtom.subtrend to the selected, if noone is selected (case that we don't show this select)
        then we set the value to null-->
        <div *ngIf="objAtom.trend.id == 0; then metalTemplate; else elseTemplate"></div>
        <ng-template #metalTemplate>
            <label class="col-sm-2">(*) SubTrend: </label>
            <div class="col-sm-6">
                <select class="form-control" name="subtrend1" [(ngModel)]="objAtom.subtrend">
            <option  *ngFor="let subtrend of arr_subtrend_metal; let i = index"
              [ngValue]="subtrend">{{ subtrend.trend }}</option>
          </select>
            </div>
        </ng-template>
        <ng-template #elseTemplate>
            <div *ngIf="objAtom.trend.id == 2; then nonmetalTemplate; else othersTemplate"></div>
        </ng-template>
        <ng-template #nonmetalTemplate>
            <label class="col-sm-2">(*) SubTrend: </label>
            <div class="col-sm-6">
                <select class="form-control" name="subtrend2" [(ngModel)]="objAtom.subtrend">
            <option  *ngFor="let subtrend of arr_subtrend_nonmetal; let i = index"
              [ngValue]="subtrend">{{ subtrend.trend }}</option>
          </select>
            </div>
        </ng-template>
        <ng-template #othersTemplate>
        </ng-template>
        <br>

        <!-- State of matter -->
        <!-- fills the radio buttons with the arr_state and set the value of objAtom.state-->
        <label class="col-sm-4">(*) State of matter (at 0ºC and 1 atm): </label>
        <div class="col-sm-6">
            <span *ngFor="let state of arr_state; let i = index">
                <input
                  type="radio"
                  [(ngModel)]="objAtom.state"
                  [value]="state"
                  name="state"
                /> {{ state.state }}
                <br />
              </span>
        </div>
        <br>

        <!-- Natural occurrence of the element -->
        <!-- fills the radio buttons with the arr_occurrence and set the value of objAtom.occurrence-->
        <label class="col-sm-4">(*) Natural occurrence of the element: </label>
        <div class="col-sm-6">
            <span *ngFor="let occurrence of arr_occurrence; let i = index">
                <input
                  type="radio"
                  [(ngModel)]="objAtom.occurrence"
                  [value]="occurrence"
                  name="occurrence"
                /> {{ occurrence.type }}
                <br />
              </span>
        </div>
        <br>

        <!--Orbital-->
        <!-- fills the checkbox with the arr_sfdp and set the value of objAtom.orbital with the checked boxes-->
        <label class="col-sm-2">Orbital: </label>
        <div class="col-sm-6">
            <span *ngFor="let sfdp of arr_sfdp; let i=index">
                <input type="checkbox" name="sfdp" (click)="addRemoveOrbital(sfdp)"> {{sfdp.orbital}}
                <br>
            </span>
        </div>
        <br>

        <button type="submit" class="btn btn-dark">
      Submit
    </button>
        <br /><br />
    </div>
</form>