<form #reservationEntryForm="ngForm" (submit)="reservationEntry()">
    <H2 class="titulo" style="margin-left: 35%;">Proven Biomedics</H2>
    <div class="container well jumbotron">
        <div class="horizontal">
            <div class="row">
                <div class="col">
                </div>
            </div>
            <div class="form-group">
                <div class="col text-center">
                    <h3 class="subtitulo">Ficha Personal</h3>
                </div>

                <label for="clientName" class="col-sm-2">Nombre *</label>
                <div class="col-sm-4">
                    <input type="text" #clientName="ngModel" [(ngModel)]="reservation.name" class="form-control"
                        id="clientName" name="clientName" required inputMinLength>
                </div>
                <div class="is-invalid" *ngIf="!clientName.pristine && 
                 clientName.errors?.required">
                    <span class="text-danger">Porfavor, pon un nombre!</span>
                </div>
                <div class="is-invalid" *ngIf="clientName.errors?.isNotCorrect &&
                !clientName.errors?.required">
                    <span class="text-danger">Porfavor, pon un nombre con 3 caracteres</span>
                </div>

                <label for="clientSurname" class="col-sm-2">Apellidos *</label>
                <div class="col-sm-4">
                    <input type="text" #clientSurname="ngModel" [(ngModel)]="reservation.surname" class="form-control"
                        id="clientSurname" name="clientSurname">
                </div>

                <label for="clientPhone" class="col-sm-2">Telefono *</label>
                <div class="col-sm-4">
                    <input type="text" #clientPhone="ngModel" [(ngModel)]="reservation.phone" class="form-control"
                        id="clientPhone" name="clientPhone">
                </div>

                <label for="clientEmail" class="col-sm-2">Email *</label>
                <div class="col-sm-4">
                    <input type="email" #clientEmail="ngModel" [(ngModel)]="reservation.email" class="form-control"
                        id="clientEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="clientEmail" required
                        email>
                </div>
                <div class="is-invalid" *ngIf="!clientEmail.pristine && 
                clientEmail.errors?.required">
                    <span class="text-danger">Introduce un email</span>
                </div>
                <div class="is-invalid" *ngIf="!clientEmail.pristine && 
                clientEmail.errors?.pattern">
                    <span class="text-danger">Introduce un email valido</span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                </div>
                <label class="col-sm-2 control-label" for="">Fecha de Nacimiento: </label>
                <div class="col-sm-6">
                    <input type="date" #clientReservationDate="ngModel" [(ngModel)]="reservation.reservationDate"
                        name="clientReservationDate">
                </div>


            </div>
            <div class="form-group">
                <!--Hacer que si pone personalizado que salga un marco de texto-->
                <label class="col-sm-2 control-label" for="formGroup">Sexo *</label>
                <div class="col-sm-6">
                    <span *ngFor="let tableSexo of
                  tableSexos; let i = index">
                        <input type="radio" name="tableSex{{i}}" [value]="tableSexo"
                            [(ngModel)]="reservation.tableSexo">
                        {{tableSexo.sexo}}
                    </span>
                </div>
            </div>


            <label for="clientPassword" class="col-sm-2">Contraseña *</label>
                <div class="col-sm-4">
                    <input type="password" #clientPassword="ngModel" [(ngModel)]="reservation.password" class="form-control"
                        id="clientPassword" name="clientPassword" required inputMinLength>
                </div>
                <div class="is-invalid" *ngIf="!clientPassword.pristine && 
                 clientPassword.errors?.required">
                    <span class="text-danger">Porfavor, pon una contraseña!</span>
                </div>
                <div class="is-invalid" *ngIf="clientPassword.errors?.isNotCorrect &&
                !clientPassword.errors?.required">
                    <span class="text-danger">Porfavor, pon un nombre con 3 caracteres</span>
                </div>

            <br><br>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="submit" [disabled]="!reservationEntryForm.valid"
                            class="btn btn-info">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>