<form #reservationEntryForm="ngForm" (submit)="resevartionEntry()" novalidate>
  <div class="container well">
    <div class="form-horizontal" >
      <div class="row">
        <div class="col-xs-12"><h2>Make a reservation in the best restaurant in the
          world</h2></div>
        </div>
        <br/>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12" align="center"><h3>Personal data</h3></div>
          </div>
          <label class="col-sm-2 control-label" for="formGroup">Name *</label>
          <div class="col-sm-4">
            <input class="form-control" type="text" name="clientName"
              #clientName = "ngModel"
              [(ngModel)]="reservation.name"
              
              required />
          </div>

            <label class="col-sm-2 control-label" for="formGroup">Last name *</label>
            <div class="col-sm-4">
              {{surname.value}}
              <input class="form-control"
              type="text"
              name="surname"
              #surname="ngModel"
              [(ngModel)]="reservation.surname"
              required />
            </div>
            <label class="col-sm-2 control-label" for="formGroup">Email Adress *:</label>
            <div class="col-sm-4">
              <input class="form-control" type="email" name="email" required
              #clientEmail = "ngModel"
              [(ngModel)]="reservation.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
              <div class="has-error" *ngIf="clientEmail.touched && clientEmail.invalid">
                <span id="help-block-matrix-range" class="help-block ">Please, enter a valid
                  email.</span>
                </div>
              </div>
              <label class="col-sm-2 control-label" for="formGroup">Phone *:</label>
              <div class="col-sm-4">
                <input class="form-control"
                    type="text"
                    name="phone"
                    id="phone"
                    #phone="ngModel"
                    placeholder="666111222"
                    pattern="(\+34|0034|34)?[ -]*(6|7)[ -]*([0-9][ -]*){8}"
                    [(ngModel)]="reservation.phone"
                required/>
                <div class="has-error" *ngIf="phone.invalid && phone.touched">
                  Phone number is not correct
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12" align="center"><h3>Reservation details</h3></div>
              </div>
              <label class="col-sm-2 control-label" for="formGroup">reservation Date
                *:</label>
                <div class="col-sm-6">
                  <input class="form-control" type="date"
                  #clientReservationDate="ngModel"
                  [(ngModel)]="reservation.reservationDate"
                  name="clientReservationDate"/>
                </div>
                <label class="col-sm-2 control-label" for="formGroup">Reservation time: </label>
                <div class="col-sm-2">
                  <select class="form-control"
                          name="reservationTime"
                          id="reservationTime"
                          #reservationTime="ngModel"
                          [(ngModel)]="reservation.reservationTime"
                          required>
                    <option *ngFor="let reservationTime of reservationTimes; let i = index"
                            [ngValue]="reservationTime">
                      {{reservationTime.time}}
                    </option>
                  </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="formGroup">Table preference *</label>

            </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="formGroup">Special requests</label>

              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="formGroup">Special
                  instructions</label>
                  <div class="col-sm-4">
                    <textarea class="form-control"  id="specialInstructions"  ></textarea>
                  </div>
                  <label class="col-sm-2 control-label" for="formGroup">Total price:</label>
                  <div class="col-sm-4">
                    <input class="form-control"
                    name="totalPrice"
                    #totalPrice="ngModel"
                    [(ngModel)]="reservation.totalPrice"
                    type="text"
                    readonly  />
                  </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="formGroup"></label>
                  <div class="col-sm-4">
                    <button type="submit"
                    class="btn btn-success"
                    [disabled]="reservationEntryForm.invalid">
                    Submit
                  </button>
                  <label>
                    <input class="btn btn-default btn-primary btn-block" type="button"
                    value="Back"
                    />
                  </label>
                </div>
              </div>
            </div>
          </div>
        </form>
