<div class="container">
  <div>
    <table class="table table-bordered">
      <tr>
        <td>Filter by size:</td>
        <td><input type="range" min="0" max="10" /> -- </td>
      </tr>
      <tr>
        <td>Filter by phylo:</td>
        <td>
          <select class="form-control" id="phyloFilter" required>
          </select>
        </td>
      </tr>
      <tr>
          <td>Filter by date:</td>
          <td>
            <input type="date" > --- 
            <input type="date" >
          </td>
        </tr>
      <tr>
        <td>Items per page: </td>
        <td>
          <input type="text" >
        </td>
      </tr>
   
      <tr>
        <td>Number of genomes:</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div>
    <h2>Genomes found:</h2>
      <table class="table table-bordered">
        <tr>
            <td><input type="checkbox" name=""></td>
            <td><b>ID</b></td>
            <td><b>Organism</b></td>
            <td><b>Kingdom</b></td>
            <td><b>Phylo</b></td>
            <td><b>Size</b></td>
            <td><b>Release date</b></td>
            <td><b>Edit</b></td>
            <td><b>Del</b></td>
        </tr>
      </table>
      <button class="btn btn-danger">Delete All</button>
  </div>
</div>


