<!--
  @name = Aminoacid Component HTML
  @author = David Medel / Esther Vendrell
  @version = 0.0.1
  @description = Main user interface of the Aminoacid component
  @date = 03-02-2020
-->

<app-navbar></app-navbar>
<!-- form, when submit calls the aminoacid() method-->
<form #aminoacidForm="ngForm" action="" (submit)="aminoacid()">
    <div class="bg-dark">
        <div class="form-horizontal" style="padding:20px">
            <div class="col-xs-12">
                <h4 style="color:#D5D5D5; text-align:center">Aminoacid Form</h4>
            </div>
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="col-sm-9"><b>Select Aminoacid</b></h5>
            </div>
        </div>
        <hr style="width:96%; margin-left:15px; margin-top:0;" />
        <br />

        <!-- Essenciality -->
        <!-- fills the select with the arr_essentiality and set the value of objAminoacid.essenciality-->
        <label class="col-sm-2">(*) Essenciality: </label>
        <div class="col-sm-6">
            <select class="form-control" name="essenciality" [(ngModel)]="objAminoacid.essenciality" (ngModelChange)="filterAmino()">
                <option  *ngFor="let essentiality of arr_essentiality; let i = index"
                    [ngValue]="essentiality">{{ essentiality.propertie }}</option>
            </select>
        </div>
        <br />

        <!-- Properties -->
        <!-- fills the radio button with the arr_chainProperties and set the value of objAminoacid.chainPropertie-->
        <label class="col-sm-4">(*) Chain property: </label>
        <div class="col-sm-6">
            <span *ngFor="let chainPropertie of arr_chainProperties; let i = index">
        <input
          type="radio"
          [(ngModel)]="objAminoacid.chainPropertie"
          [value]="chainPropertie"
          name="chainPropertie"
          (ngModelChange)="filterAmino()"
        /> {{ chainPropertie.propertie }}
        <br />
      </span>
        </div>
        <br />
        <label class="col-sm-6">List of amino acids that have this properties:
    </label>
        <br />

        <!-- print table -->
        <!-- if show_arr_aa contains any element prints a table with all these elements
        else prints an error message-->
        <div class="col-sm-6">
            <div *ngIf="show_arr_aa.length == 0;else print_table">
                <p class="text-danger">Any amino acid with this characteristics</p>
            </div>
            <ng-template #print_table>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>3 letter name</th>
                            <th>1 letter name</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let aa of show_arr_aa; let i = index" (ngModelChange)="filterAmino()">
                        <tr>
                            <td>{{aa.fullName }}</td>
                            <td>{{aa.name3letters}}</td>
                            <td>{{aa.name1letter}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </div>

        <!-- submit button is displayed if show_arr_aa don't have any element-->
        <button type="submit" class="btn btn-dark" [disabled]="show_arr_aa.length == 0">
      Submit
    </button>
        <br /><br />
    </div>
</form>