<form #reservationEntryForm="ngForm" (submit)="reservationEntry()">
    <h2 style="text-align: center; font-weight: bold;" class="titulo">Escribe tu ADN o ARN</h2>
    <div class="container well jumbotron">

        <label for="clientName" class="col-sm-2">Pon tu cadena *</label>
        <div class="col-sm-4">
            <input type="text" #clientName="ngModel" [(ngModel)]="reservation.name" class="form-control" id="clientName"
                pattern="[a-z]+[A-z]$" s name="clientName" required inputMinLength>
            <span *ngFor="let Cadena of Cadenas;
                let i = index">
                <input type="text" name="Cadena{{i}}" [value]="Cadena"
                [(ngModel)]="reservation.Cadena">
                {{Cadena.cadena}}
            </span>
        </div>
        <div class="is-invalid" *ngIf="!clientName.pristine && 
                 clientName.errors?.required">
            <span class="text-danger">Porfavor, pon una cadena!</span>
        </div>
        <div class="is-invalid" *ngIf="clientName.errors?.isNotCorrect &&
                !clientName.errors?.required">
            <span class="text-danger">Porfavor, pon una cadena con 3 caracteres</span>
        </div>

        <label class="col-sm-2 control-label" for="">Convertir en </label>
        <div class="col-sm-2">
            <select class="form-control" name="reservationTipo" #reservationTime="ngModel"
                [(ngModel)]="reservation.reservationTipo" required>
                <option *ngFor="let resTipoAux of reservationTipos;
                    let i = index" [ngValue]="resTipoAux">{{resTipoAux.tipo}}
                </option>
            </select>
        </div>

        <label for="clientName" class="col-sm-3">Cadena Transformada</label>
        <div class="col-sm-4">
            <input type="text" #clientName="ngModel" [(ngModel)]="reservation.reservationCadena" class="form-control" id="clientName"
                name="clientName" required inputMinLength>
        </div>

        <br><br>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <button type="submit" [disabled]="!reservationEntryForm.valid"
                        class="btn btn-info">Convertir</button>
                </div>
            </div>
        </div>
    </div>
</form>