<div class="container well">
  <nav>
      <a routerLink="/user-entry">User entry</a> -- 
      <a routerLink="/sequence-entry">Sequence entry</a> --
      <a routerLink="/price-calculate">Calculate price</a> -- 
      <a routerLink="/feedback">Feedback</a> --
      <a routerLink="/resultsmanagement">Results Management</a>
  </nav><br>
  <router-outlet></router-outlet>
</div>

<!-- Without routing -->
<!--
<app-user-entry></app-user-entry>
<app-sequence-entry></app-sequence-entry>
<app-results></app-results>
<app-feedback></app-feedback>
-->
