<div class="container register-form top-buffer-1">
    <div class="form">
        <div class="note">
            <p>Laboratory materials</p>
        </div>
        <div class="form-content bk">
            <form *ngIf="signupForm" #myform="ngForm" [formGroup]="signupForm" (submit)="onSubmit()" class="form-group">

                <fieldset class="scheduler-border shadow">
                    <legend class="scheduler-border">Items to choose</legend>
                    <div class="row">
                        <div class="col-sm-3 form-check">
                            <label for="cname"><u>laboratory complements</u></label><br>
                            <input type="checkbox" formControlName="_items" name="_items"><label
                                class="checkbox-inline">Test tubes</label><br>
                            <input type="checkbox" formControlName="_items" name="_items"><label
                                class="checkbox-inline">Rack</label><br>
                            <input type="checkbox" formControlName="_items" name="_items"><label
                                class="checkbox-inline">Rosary coolant</label><br>
                            <input type="checkbox" formControlName="_items" name="_items"><label
                                class="checkbox-inline">Crystalizer</label><br>
                            <input type="checkbox" formControlName="_items" name="_items"><label
                                class="checkbox-inline">Flask</label><br>


                            <!-- <div *ngFor="let it of material.items">
                                <input type="checkbox" formControlName="_items" value={{it}}
                                    [(ngModel)]="material.items" required>
                                <span class="ml-2"> {{it}} </span>
                            </div> -->


                        </div>
                        <div class="col-sm-5">
                            <br>
                            <input type="checkbox" formControlName="_items" name="_items"><label
                                class="checkbox-inline">Watch glass</label><br>
                            <input type="checkbox" formControlName="_items" name="_items"><label
                                class="checkbox-inline">Pizeta</label><br>
                            <div>
                                <p>Other</p>
                                <input formControlName="_itemsOthers" type="text"
                                    placeholder="other Seperate with coma (,)" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="location">Location</label>
                            <input type="name" formControlName="_location" class="form-control" placeholder="A2">
                        </div>
                    </div>
                </fieldset>

                <fieldset class="scheduler-border shadow">
                    <legend class="scheduler-border">Machines</legend>
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="location"><u>You need help with the machines?</u></label>
                            <div class="radio-inline"><label><input type="radio" formControlName="_help"
                                        value="Yes">Yes</label></div>
                            <div class="radio-inline"><label><input type="radio" formControlName="_help"
                                        value="No">No</label></div>
                        </div>


                        <div class="col-sm-6">
                            <label for="cname"><u>That you’re gonna use</u></label><br>
                            <input type="checkbox" formControlName="_machines" value="cryogenic_storage"><label
                                class="checkbox-inline">cryogenic storage</label><br>
                            <input type="checkbox" formControlName="_machines" value="steam_sterilizers"><label
                                class="checkbox-inline">steam sterilizers</label><br>
                            <input type="checkbox" formControlName="_machines" value="Ultrasonic_Baths"><label
                                class="checkbox-inline">Ultrasonic Baths</label><br>
                            <input type="checkbox" formControlName="_machines" value="Cabins_biosecurity"><label
                                class="checkbox-inline">Cabins of biosecurity</label><br>
                            <input type="checkbox" formControlName="_machines" value="climate_chambers"><label
                                class="checkbox-inline">climate chambers</label><br>

                            <!-- <div *ngFor="let machine of material.machine">
                                <input type="checkbox" formControlName="_machine" value={{machine}} [(ngModel)]="material.machine"
                                    required>
                                <span class="ml-2"> {{machine}} </span>
                            </div> -->

                            <div>
                                <p>Other</p>
                                <input type="text" formControlName="_machinesOthers"
                                    placeholder="other Seperate with coma (,)" class="form-control">

                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="location">Number zone</label>
                            <input type="number" formControlName="NUmberz" formControlName="_numberzone"
                                class="form-control" placeholder="2">
                        </div>
                    </div>
                </fieldset>


                <button type="submit" [disabled]="signupForm.invalid" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>