<div class="container">
  <img style="text-align:center" src="./../../assets/images/NCBI.jpeg" id='logo' width="200" height="80" />
  <h2 style="display: inline; margin-left:25px">National Center for Biotechnology Information</h2><br><br>
  
  <a class="btn btn-primary">New genome</a>
  <a class="btn btn-primary">List genomes</a>
  <br><br>
</div>

<app-genome-management>
</app-genome-management>
<router-outlet></router-outlet>