<!-- This is the main page of the user-entry -->
<form #userEntryForm="ngForm" action="" onreset="reset()" (submit)="userEntry()">
  <div class="jumbotron">
    <div class="col-xs-12 text-center">
      <h2>User registration</h2>
    </div>
  </div>
  <br>

  <div class="jumbotron">
    <div class="col-xs-12 text-center">
      <h3>Personal data</h3>
    </div>
    <br>

    <!-- Name -->
    <label class="col-xs-12">Name *</label>
    <div class="col-xs-12">
      <input #userName="ngModel" [(ngModel)]="objUser.name" name="userName" type="text" class="form-control" required (focus)="myFunction()"  />
    </div>
    <!-- Error div when error required -->
    <div class="col-xs-12" *ngIf="!userName.pristine && 
            userName.errors?.required">
      <span class="text-danger">Please, enter a name</span>
    </div>
    <br>

    <!-- Surname -->
    <label class="col-xs-12">Surname *</label>
    <div class="col-xs-12">
      <input #userSurname="ngModel" [(ngModel)]="objUser.surname" name="userSurname" type="text" class="form-control"
        required />
    </div>
    <!-- Error div when error required -->
    <div class="col-xs-12" *ngIf="!userSurname.pristine && 
            userSurname.errors?.required">
      <span class="text-danger">Please, enter a surname</span>
    </div>
    <br>

    <!-- DNI -->
    <label class="col-xs-12">DNI *</label>
    <div class="col-xs-12">
      <input #userDNI="ngModel" [(ngModel)]="objUser.DNI" name="userDNI" type="text" class="form-control"
        placeholder="12345678Z" pattern="^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKEtrwagmyfpdxbnjzsqvhlcke]$" required />
    </div>
    <!-- Error div when error required -->
    <div class="col-xs-12" *ngIf="!userDNI?.pristine && 
            userDNI?.errors?.required">
      <span class="text-danger">Please, enter a DNI</span>
    </div>
    <!-- Error div when error DNI format -->
    <div class="col-xs-12" *ngIf="!userDNI?.errors?.required &&
      userDNI?.errors?.pattern">
      <span class="text-danger">Please, enter a DNI with a valid format</span>
    </div>
    <!-- Error div when error DNI letter-->
    <div class="col-xs-12"
      *ngIf="!userDNI?.pristine && !userDNI?.errors?.required && !userDNI?.errors?.pattern && !objUser.validateLetterDNI()">
      <span class="text-danger">Please, enter a valid DNI</span>
    </div>

    <br>

    <!-- Email -->
    <label class="col-xs-12">Email *</label>
    <div class="col-xs-12">
      <input #userEmail="ngModel" [(ngModel)]="objUser.email" name="userEmail" type="email" class="form-control"
        placeholder="hola@hola.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
    </div>
    <!-- Error div when error required -->
    <div class="col-xs-12" *ngIf="!userEmail.pristine && 
        userEmail.errors?.required">
      <span class="text-danger">Please, enter an email</span>
    </div>
    <!-- Error div when error email -->
    <div class="col-xs-12" *ngIf="!userEmail.errors?.required &&
         userEmail.errors?.pattern">
      <span class="text-danger">Please, enter an email with a valid format</span>
    </div>
    <br>

    <!-- Password -->
    <label class="col-xs-12">Password *</label>
    <div class="col-xs-12">
      <input #userPassword="ngModel" [(ngModel)]="objUser.password" name="userPassword" type="password"
        class="form-control" placeholder="min. 8 characters" required passwordMinLength />
    </div>
    <!-- Error div when error required -->
    <div class="col-xs-12" *ngIf="!userPassword.pristine && 
    userPassword.errors?.required">
      <span class="text-danger">Please, enter a password</span>
    </div>
    <!-- Error div when error minlength -->
    <div class="col-xs-12" *ngIf="!userPassword.errors?.required && userPassword.errors?.isNotCorrect">
      <span class="text-danger">Please, enter a password of minimum 8 characters</span>
    </div>
    <br>

    <!-- Phone -->
    <label class="col-xs-12">Phone</label>
    <div class="col-xs-12">
      <input #userPhone="ngModel" [(ngModel)]="objUser.phone" name="userPhone" type="tel" class="form-control" />
    </div>
    <br>

    <!-- Birthdate -->
    <label class="col-xs-12">Birthdate</label>
    <div class="col-xs-12">
      <input #userBirthdate="ngModel" [(ngModel)]="objUser.birthdate" name="userBirthdate" type="date"
        class="form-control" />
    </div>
    <br>

    <!-- Zipcode -->
    <label class="col-xs-12">Zipcode</label>
    <div class="col-xs-12">
      <input #userZipcode="ngModel" [(ngModel)]="objUser.zipcode" name="userZipcode" type="text" class="form-control" minLength="5" maxLength="5" />
    </div>
    <br>

    <!-- City -->
    <label class="col-xs-12">City</label>
    <div class="col-xs-12">
      <input #userCity="ngModel" [(ngModel)]="objUser.city" name="userCity" type="text"
        class="form-control" />
    </div>
    <br>

    <!-- Country -->
    <label class="col-xs-12">Country</label>
    <div class="col-xs-12">
      <input #userCountry="ngModel" [(ngModel)]="objUser.country" name="userCountry" type="text"
        class="form-control" />
    </div>
    <br><br>

    <!-- Button submit is disabled until all the form fields are valid -->
    <button type="submit" class="btn btn-primary" [disabled]="!userEntryForm.valid" (click)="alertEvent($event)">Submit</button>
    &nbsp;
    <!--Button reset for resetting all the data introduced -->
    <button type="button" class="btn btn-primary" (click)="resetEvent($event)">Reset</button>
  </div>
</form>