<div class="jumbotron">
  <h1>Genes of Yeasts</h1>
</div>
<div class="container">
  <form #formEnvironments="ngForm" (submit)='getGenes()'>
    <!--Sequence-->
    <label class="col-sm-2">Sequence* </label>
    <div class="col-sm-4">
      <input type="text" id="secuence" #secuence="ngModel" name="secuence" [(ngModel)]="objGenes.secuence"
        pattern="[AGCTUagctu]+" title="Only letters A, G, C, T, U" required>
    </div>
    <div class="is-invalid" *ngIf="!secuence.pristine && 
                secuence.errors?.required">
      <div class="col-sm-4">
        <span class="text-danger">Please, enter a sequence</span>
      </div>
    </div>
    <div class="is-invalid" *ngIf="!secuence.pristine && 
                secuence.errors?.pattern">
      <div class="col-sm-4">
        <span class="text-danger">Please, enter a valid sequence.Only letters A, G, C, T, U .</span>
      </div>
    </div>
    <br>
    <!--Type-->
    <label class="col-sm-2">Type *</label>
    <div class="col-sm-4">
      <input type="text" id="type" #type="ngModel" name="type" [(ngModel)]="objGenes.type" required>
    </div>
    <div class="is-invalid" *ngIf="!type.pristine && 
    type.errors?.required">
      <div class="col-sm-4">
        <span class="text-danger">Please, enter a type</span>
      </div>
    </div>
    <br>
    <!--Is protein-->
    <label class="col-sm-2">Is protein? </label>
    <div class="col-sm-4">
      <input type="checkbox" name="protein" [(ngModel)]="objGenes.protein" (ngModelChange)="change">Protein
    </div>
    <br>
    <div class="col-sm-4">
      <input type="submit"  [disabled]="!formEnvironments.valid">
    </div>
  </form>
</div>