<div>
    <nav class="navbar navbar-expand-sm navbar-light" 
    style="background-color: #204cad;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']"><img src="../../assets/img/s5_logo.png" alt="logo" width="250" height="60"></a>
            </li>
            <div class="">
                <a class="nav-link" style="color: white;"><b>Mario Alonso and Steven Sánchez -- DAWBIO 2</b></a>
            
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/component1']" style="color: white;">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/component3']" style="color: white;">Data Company</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/component4']" style="color: white;">Materials</a>
                    </li>
                  </ul>

            </div>
        </ul>
    </nav>
    <router-outlet></router-outlet>

    

</div>