<!-- This is the main page of the results management -->
<div class="container well">
    <!-- This div will contain filters and pagination params -->
    <form #resultsFilterForm="ngForm" novalidate>
        <table class="table table-striped">
            <tr>
                <td>Filter by price</td>
                <td>
                    <input type="range" min="0" max="121" [(ngModel)]="priceFilter" name="priceF"
                        (ngModelChange)="filter()">
                    <b>{{priceFilter|currency:'EUR'}}</b>
                </td>
            </tr>
            <tr>
                <td>
                    Current Page
                </td>
                <td>
                    {{currentPage}}
                </td>
            </tr>
            <tr>
                <td>Results per page</td>
                <td>
                    <input type="number" [(ngModel)]="itemsPerPage" name="itemsPerPage">
                </td>
            </tr>
            <tr>
                <td>Results found</td>
                <td>{{resultsFiltered.length}}</td>
            </tr>

        </table>
    </form>
</div>

<div class="container well">
    <!-- This div will be shown in case there are records to display -->
    <form #resultsManagementForm='ngForm' novalidate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Date</th>
                    <th>Copies?</th>
                    <th>No. of copies</th>
                    <th>Price</th>
                    <th>Delete result</th>
                    <th>Go to result</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rv of resultsFiltered | paginate: {
                    itemsPerPage:itemsPerPage,
                    currentPage:currentPage}">
                    <td>{{rv.resultsPlace.description}}</td>
                    <td>{{rv.resultsDate.description}}</td>
                    <td>{{rv.resultsCopies.description}}</td>
                    <td>{{rv.resultsNumCopies}}</td>
                    <td>{{rv.totalPrice | currency:'EUR'}}</td>
                    <td>
                        <button class="btn btn-danger" (click)="removeResult(rv)">X</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="onClick(rv)">Go to</button>
                    </td>
                </tr>
            </tbody>

        </table>
        <pagination-controls (pageChange)="currentPage=$event" maxSize="5" directionLinks="true" autoHide="true">
        </pagination-controls>
    </form>

</div>
<!-- This prints the details of the result selected -->
<app-results *ngIf="resultSelected.id!=-1" [objResults]="resultSelected">
</app-results>