<div class="container mt-4 p-4 shadow ">
  <div class="text-center py-2 bg-light mb-4">
    <!-- Tittle -->
    <h2>{{title|titlecase}}</h2>
  </div>

 <app-person *ngIf="!gotPerson" [person]="client" (doneSubmit)="getClient($event)"></app-person>

  <form *ngIf="gotPerson" #formClient="ngForm" (submit)="onSubmit()">
    <!-- Subtittle -->
    <h5>{{subtitle|titlecase}}</h5>

    <!--Panel optional, this a panel to open div inside, when user click, it opens and show content.-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Genetic Information <small class="ml-1">(optional)</small></mat-panel-title>
        <mat-panel-description>Click to add sequence!</mat-panel-description>
      </mat-expansion-panel-header>

      <!--Selector for types of sequences-->
      <mat-grid-list cols="1" rowHeight="4em">
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Sequence type</mat-label>
            <!-- It's optional to select type. But if user select the type , so must have to enter sequecne. -->
            <mat-select name="type" #type="ngModel" [(ngModel)]="client.$medical_data.$analysis.$type">
              <!-- Empty option, if user wan't not to enter sequence. -->
              <mat-option>------</mat-option> 
              <mat-option *ngFor="let type of typesSequence" [value]="type">{{type | uppercase}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!--Checkbox ,if the sequence it tested or not. It is shown when the sequence type is selected-->
          <mat-checkbox *ngIf="type.value" name="test" color="primary" class="ml-4"
            [(ngModel)]="client.$medical_data.$analysis.$tested">
            Tested
          </mat-checkbox>
        </mat-grid-tile>
      </mat-grid-list>

      <!--Textarea for the sequence, it is shown when the sequence type is selected-->
      <mat-grid-list cols="1" rowHeight="20em" *ngIf="type.value">
        <mat-grid-tile>
          <mat-form-field class="w-75" appearance="outline">
            <mat-label>Sequence {{type.value| uppercase}}</mat-label>

            <!-- (change) when detects change, the values send to a function to get trim value, if it's necessary -->
            <textarea name="sequence" #sequence="ngModel" [(ngModel)]="client.$medical_data.$analysis.$sequence"
            (change)="client.$medical_data.$analysis.$sequence=trim(client.$medical_data.$analysis.$sequence)"
              [validSequence]="type.value" matInput [disabled]="!type.value" [mat-autosize]="true"
              cdkAutosizeMinRows="8" cdkAutosizeMaxRows="15" placeholder="Insert The Sequence" required>
            </textarea>

            <!-- Hint for sequence  -->
            <mat-hint *ngIf="sequence.untouched">
              <mat-icon>info</mat-icon>
              <!--Information icon-->
              Insert the {{type.value | uppercase}} sequence.
            </mat-hint>
            <!-- sequence erros -->
            <mat-error *ngIf="sequence.touched">
              <mat-icon>error</mat-icon>
              <!--Error icon-->
              <!-- Messages to show, depending on the type of error. -->
              <span *ngIf="sequence.errors?.required">Please enter the sequence!</span>
              <span *ngIf="sequence.errors?.sequenceInCorrect && !sequence.errors?.required">
                The sequence does not correspond to the base {{SequenceTypesBase[type.value]  | uppercase}}
              </span>
            </mat-error>

          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
    <br>

    <!--Title information-->
    <h5>{{titleInformation|titlecase}}</h5>
    <br>

    <!-- Diseases names, user can enter many diseases as he wants.-->
    <mat-form-field class="w-100">
      <!-- Chip box list. It's util to enter a list of string. -->
      <mat-chip-list #chipList aria-label="Diseases">
        <mat-chip *ngFor="let disease of client.$medical_data.$diseases" [removable]="true"
          (removed)="remove(disease)">
          {{disease}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <!-- Input for chips list. That user write is shown to the chips list. 
          It separates words when user write coma or push enter button  -->
        <input placeholder="Names of diseases..." #diseaseInput [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>


    <!--Comments for client (It's optional fieled, and it have no validation. user can enter whatever wants.)-->
    <mat-form-field class="w-75 mt-3" appearance="outline">
      <mat-label>Comments</mat-label>
      <textarea name="comments" [(ngModel)]="client.$comments" matInput [mat-autosize]="true" cdkAutosizeMinRows="8"
      (change)="client.$comments=trim(client.$comments)"
        cdkAutosizeMaxRows="15" placeholder="Comments"></textarea>
    </mat-form-field>

    <br><br>
    <!-- User can't go back if the form is invalid -->
    <button type="button" class="mr-4" mat-button [disabled]="formClient.invalid" (click)="gotPerson = !gotPerson">Back</button>

    <!-- User can't submit if the form is invalid -->
    <button type="submit" class="ml-4" mat-flat-button color="primary" [disabled]="formClient.invalid">Submit</button>
    <!-- <button type="submit" class="ml-4" mat-flat-button color="primary" [mat-dialog-close]="client" [disabled]="formClient.invalid">Submit</button> -->

  </form>

</div>