<div class="animation">
    <svg viewBox="0 0 1200 600">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="35%" class="webcoderskull">
                DAWBIO
            </text>
            <text text-anchor="middle" x="50%" y="68%" class="webcoderskull">
                ANKUSH & JIMMY
            </text>

        </symbol>

        <g class="g-ants">
            <use xlink:href="#s-text" class="webcoderskull-1"></use>
            <use xlink:href="#s-text" class="webcoderskull-1"></use>
            <use xlink:href="#s-text" class="webcoderskull-1"></use>
            <use xlink:href="#s-text" class="webcoderskull-1"></use>
            <use xlink:href="#s-text" class="webcoderskull-1"></use>
        </g>
    </svg>
</div>
