.titulo{
    font-weight: bold;
}

.titulo:hover{
    margin-left: 35%;
    color: rgb(255, 0, 0);
    -webkit-filter: saturate(150%) hue-rotate(45deg) blur(1px);
    filter: saturate(150%) hue-rotate(45deg) blur(1px);
}

.subtitulo{
    font-weight: bold;
}

