<!--
  @name = Chain Component HTML
  @author = David Medel / Esther Vendrell
  @version = 0.0.1
  @description = Main user interface of the Chain component
  @date = 03-02-2020
-->

<app-navbar></app-navbar>
<form #chainForm="ngForm" action="" (submit)="chain()">
    <div class="bg-dark">
        <div class="form-horizontal" style="padding:20px">
            <div class="col-xs-12">
                <h4 style="color:#D5D5D5; text-align:center">Chain Form</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="col-sm-9"><b>Select Chain</b></h5>
            </div>
        </div>
        <hr style="width:96%; margin-left:15px; margin-top:0;">
        <br>


        <!-- Name -->
        <label class="col-sm-6">(*) Name:</label>
        <div class="col-sm-4">
            <input #chainName="ngModel" [(ngModel)]="objChain.chain_name" name="chainName" type="text" class="form-control" placeholder="Ex. A, R2" required/>
        </div>
        <!-- Error div when error required -->
        <div class="col-sm-4" *ngIf="!chainName.pristine && chainName.errors && chainName.errors.required">
            <span class="text-danger">Please, enter a name</span>
        </div>
        <br>

        <!-- Sequence -->
        <label class="col-sm-6">(*) Sequence:</label>
        <div class="col-sm-4">
            <input #chainSequence="ngModel" [(ngModel)]="objChain.chain_sequence" name="chainSequence" type="text" class="form-control" (ngModelChange)="calculateSequenceLength()" required chainMinLength pattern="[ARNDCQEGHILKMFPSTWYVarndcqeghilkmfpstwyv]*" placeholder="Ex. AAAAQEGHIAEEED"
            />
        </div>
        <!-- Error div when error required -->
        <div class="col-sm-4" *ngIf="!chainSequence.pristine && chainSequence.errors && chainSequence.errors.required">
            <span class="text-danger">Please, enter a sequence</span>
        </div>
        <!-- Error div when error minlength (isNotCorrect) with directive -->
        <div class="col-sm-4" *ngIf="chainSequence.errors?.isNotCorrect &&
        !chainSequence.errors?.required">
            <span class="text-danger">Please, enter a sequence with minimum 2 aminoacids</span>
        </div>
        <!-- Error div when error pattern -->
        <div class="col-sm-4" *ngIf="chainSequence.errors && chainSequence.errors.pattern && !chainSequence.errors.isNotCorrect">
            <span class="text-danger">Wrong character. Only exist this aminoacids: "ARNDCQEGHILKMFPSTWYV"</span>
        </div>
        <br>


        <!-- Sequence Length -->
        <label class="col-sm-6">Sequence length:</label>
        <div class="col-sm-4">
            <input type="text" name="lengthSequence" [(ngModel)]="objChain.chain_sequence_length" class="form-control" readonly>
        </div>
        <br>

        <!-- Type -->
        <label class="col-sm-6">(*) Type of structure:</label>
        <div class="col-sm-4">
            <span *ngFor="let TypeChain of typeOfChains; let i=index">
            <input type="radio" [(ngModel)]="objChain.typeOfChain" [value]="TypeChain" name="TypeChain"> {{TypeChain.type}}  
            </span>
        </div>
        <br>

        <button type="submit" class="btn btn-dark" [disabled]="!chainForm.valid">Submit</button>
        <br><br>

    </div>
</form>