<div class="container well">
    <fieldset>
      <legend>Login</legend>
      <form #userLoginForm="ngForm" (submit)="connection()">
        <div class="form-group">
          <input type="text" id="nick" name="nick"
          #nick="ngModel" [(ngModel)]="userConnected.nick"
          class="form-control" placeholder="User" required>
          <div class="alert alert-danger"
          [hidden]="nick.valid || nick.pristine">
            Nick is required
          </div>
          <input type="password" id="password" name="password"
          #password="ngModel" [(ngModel)]="userConnected.password"
          class="form-control" placeholder="Password" required>
          <div class="alert alert-danger"
          [hidden]="password.valid || password.pristine">
            Password is required
          </div>
          <div class="alert alert-danger"
          [hidden]="validUserData">
            Either user nick or password is invalid. Try again
          </div>
        </div>
        <div class="form-group col-sm-6">
          <input type="submit" class="btn btn-success"
          [disabled]="userLoginForm.invalid || userLoginForm.pristine"
          value="Login">
          <input type="button" value="Register" class="btn btn-primary"
          (click)="register()">
        </div>
      </form>
    </fieldset>
  </div>