#button {
    padding: 0;
}

#button li {
    display: inline;
}

#button li a {
    font-family: Arial;
    font-weight: bold;
    font-size:18px;
    text-decoration: none;
    float:left;
    padding: 10px;
    background-color: mediumblue;
    color: #fff;
}

#button li a:hover {
    background-color: coral;
    margin-top:-2px;
    padding-bottom:12px;
}

