<div class="container register-form top-buffer-1">
	<div class="form">
		<div class="note">
			<p>Laboratory data record</p>
		</div>
		<div class="form-content bk">
			<form *ngIf="signupForm" #myform="ngForm" [formGroup]="signupForm" (submit)="onSubmit()" class="form-group"
				method="POST">
				<fieldset class="scheduler-border shadow">
					<legend class="scheduler-border">Input data</legend>

					<div class="row">
						<div class="col-sm-4">
							<label for="cname">Name of company or worker *</label>
							<input formControlName="_nameworker" type="name" class="form-control" name="_nameworker"
								id="_nameworker" placeholder="Solution Company">

							<!-- control de errores -->
							<div *ngIf="signupForm.get('_nameworker').invalid && (signupForm.get('_nameworker').dirty || signupForm.get('_nameworker').touched)"
								class="alert alert-danger">
								<div class="is-invalid"
									*ngIf="signupForm.get('_nameworker').pristine && signupForm.get('_nameworker').errors?.required">
									<span class="text-danger">Please, enter a name</span>
								</div>
								<div class="is-invalid" *ngIf="signupForm.get('_nameworker').errors?.minlength">
									<span class="text-danger">Please, name must be at least five characters</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="uname">Company NIF or representative ID *</label>
							<input formControlName="_nif" type="name" class="form-control" placeholder="NIF o DNI">

							<!-- control de errores -->
							<div *ngIf="signupForm.get('_nif').invalid && (signupForm.get('_nif').dirty || signupForm.get('_nif').touched)"	class="">
								<div class="alert alert-danger is-invalid"	*ngIf="signupForm.get('_nif').pristine && signupForm.get('_nif').errors?.required">
									<span class="text-danger">Please, enter a nif</span>
								</div>
								<div class="alert alert-danger is-invalid" *ngIf="signupForm.get('_nif').errors?.minlength">
									<span class="text-danger">Please, nif must be at least five characters</span>
								</div>
								<div class="alert alert-danger is-invalid" *ngIf="!signupForm.get('_nif').errors?.pattern">
									<span class="text-danger">the nif must have its correct format, Axis: 12345678Z</span>
								</div>
							</div>
						</div>

						<div class="col-sm-4">
							<label for="uname">Name of project manager or manager *</label>
							<input formControlName="_namemanager" type="name" class="form-control"
								placeholder="Jaime Gane">

							<!-- control de errores -->
							<div *ngIf="signupForm.get('_namemanager').invalid && (signupForm.get('_namemanager').dirty || signupForm.get('_namemanager').touched)"
								class="alert alert-danger">
								<div class="is-invalid"
									*ngIf="signupForm.get('_namemanager').pristine && signupForm.get('_namemanager').errors?.required">
									<span class="text-danger">Please, enter a name manager</span>
								</div>
								<div class="is-invalid" *ngIf="signupForm.get('_namemanager').errors?.minlength">
									<span class="text-danger">Please, name manager must be at least five
										characters</span>
								</div>
							</div>
						</div>
					</div>


					<br>
					<div class="row top-buffer">
						<div class="col-sm-4">
							<label for="percentage">Hours to be worked</label>
							<input formControlName="hours" type="number" class="form-control" placeholder="2">
							<!-- control de errores -->
								<div class="is-invalid" *ngIf="signupForm.get('hours').valid && signupForm.get('hours').errors?.required">
									<span class="text-danger">Please, enter a hours</span>
								</div>
								<div class="is-invalid" *ngIf="signupForm.get('hours').errors?.maxlength">
									<span class="text-danger">Please, the hours must have 2 digits</span>
								</div>
								<div class="is-invalid" *ngIf="!signupForm.get('hours').errors?.pattern">
									<span class="text-danger">Only digits</span>
								</div>
						</div>

						<div class="col-sm-4">
							<label>Check-in</label>
							<input formControlName="time" class="form-control" type="date" />
							<!-- control de errores -->
							<div *ngIf="signupForm.get('time').invalid && (signupForm.get('time').dirty || signupForm.get('time').touched)"
								class="alert alert-danger">
								<div class="is-invalid"
									*ngIf="signupForm.get('time').pristine && signupForm.get('time').errors?.required">
									<span class="text-danger">Please, enter a date</span>
								</div>
							</div>
						</div>


						<div class="col-sm-4">
							<label>Silly clothes of work?</label>
							<select class="form-control" id="sel1" formControlName="_clothes">
								<option [value]="item" *ngFor="let item of list">{{item}}</option>
							</select>
							<!-- control de errores -->
							<div *ngIf="signupForm.get('_clothes').invalid && (signupForm.get('_clothes').dirty || signupForm.get('_clothes').touched)"
								class="alert alert-danger">
								<div class="is-invalid"
									*ngIf="signupForm.get('_clothes').pristine && signupForm.get('_clothes').errors?.required">
									<span class="text-danger">Please, enter a clothes</span>
								</div>
							</div>
						</div>

						<div class="col-sm-4 mt-3">
							<label>Level of experience</label>
							<div class="custom-control custom-radio">
								<input formControlName="level" type="radio" value="expert">
								<label for="Expert" class="ml-2">Expert</label>
							</div>
							<div class="custom-control custom-radio">
								<input formControlName="level" type="radio" value="student" checked>
								<label for="Student" class="ml-2">Student</label>
							</div>


							<!-- control de errores -->
							<div *ngIf="signupForm.get('level').invalid && (signupForm.get('level').dirty || signupForm.get('level').touched)"
								class="alert alert-danger">
								<div class="is-invalid"
									*ngIf="signupForm.get('level').pristine && signupForm.get('level').errors?.required">
									<span class="text-danger">Please, enter a level</span>
								</div>
							</div>

						</div>

					</div>
				</fieldset>

				<!--[disabled]="!signupForm.valid"-->
				<button type="submit" [disabled]="signupForm.valid" class="btn btn-success" value="submit">Submit</button>
					<br><br>
				<P class="alert alert-success" *ngIf="msj">{{msj}}</P>



			</form>
		</div>
	</div>
</div>