<div *ngIf="staff_member" class="container mt-4 p-4 shadow outlets">
    <div class="text-center py-2 bg-light mb-4">
        <h2>{{title|titlecase}}</h2>
    </div>
    <app-person *ngIf="!gotPerson" [person]="staff_member" (doneSubmit)="getStaffMember($event)"></app-person>

    <div class="container w-50">
        <form *ngIf="gotPerson" #formStaff="ngForm" action="" (submit)="onSubmit()">

            <!-- Date picker for Date -->
            <mat-grid-list cols="1" rowHeight="6em" gutterSize="0.9em">
                <mat-grid-tile>

                    <mat-form-field  appearance="standard" >
                        <mat-label>Hire Date</mat-label>
                        <input matInput name="hireDate" [matDatepicker]="picker"
                            [(ngModel)]="staff_member.$hire_date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>


            <!-- Selector Role -->
            <mat-form-field appearance="standard"  class="w-100 mb-4">
                <mat-label>Role</mat-label>
                <mat-select name="role" #role=ngModel [(ngModel)]="staff_member.$role" required>
                    <mat-option *ngFor="let role of roles" [value]="role">{{role | titlecase}}</mat-option>
                </mat-select>
                <mat-hint *ngIf="!staff_member.$role">Role of {{staff_member.$first_name |  titlecase}} {{staff_member.$last_name | titlecase}}.</mat-hint>
                <mat-error> 
                    <!--Error icon-->
                    <mat-icon>error</mat-icon>
                    <span class="mr-1" *ngIf="role.touched &&role.errors?.required ">Please select a role for {{staff_member.$first_name | titlecase}} {{staff_member.$last_name |titlecase}}.</span>
                </mat-error>
            </mat-form-field>
            <br>

            <!-- Selector Manager -->
            <mat-form-field appearance="standard"  class="w-100 mb-4">
                <mat-label>Manager</mat-label>
                <mat-select name="manager" [(value)]="staff_member.$manager_id">
                    <mat-option [value]="null">-------</mat-option>
                    <mat-option *ngFor="let member of managers()"  [value]="member.$id">
                        {{member.$first_name | titlecase}}
                    </mat-option>
                </mat-select>
                <mat-hint *ngIf="!staff_member.$manager_id">Manager of {{staff_member.$first_name}} {{staff_member.$last_name}}. (optional) </mat-hint>

            </mat-form-field>

            <br><br><br>
            <button type="submit" mat-flat-button color="primary" [disabled]="formStaff.invalid">Submit</button>

        </form>
    </div>
</div>