<mat-toolbar color="accent" >
    <mat-toolbar-row class="my-1 d-flex justify-content-between">
        <!-- First logo for the nav bar -->
        <img src="./../../../assets/logos/bioLogo.png" alt="" class="h-100 py-1">
        <nav mat-tab-nav-bar mat-align-tabs="left" backgroundColor="accent" color="primary">
            <!-- Router link dynamically -->
            <a mat-tab-link *ngFor="let link of links" [routerLink]="[link.path]" routerLinkActive
                #routeLink="routerLinkActive" [active]="routeLink.isActive">
                <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon>
                <span class="ml-2">{{link.label | uppercase}}</span>
            </a>
        </nav>
        <!-- Second log for the nav bar -->
        <img src="./../../../assets/logos/bioLogo.png" alt="" class="h-100 py-1">
    </mat-toolbar-row>
</mat-toolbar>