<div class="container register-form top-buffer-1">
    <div class="form">
        <div class="note">
            <p>Personal Data</p>
        </div>
        <div class="form-content bk">

            <form #loginEntryForm="ngForm" *ngIf="person && !toList" (submit)="onSubmit()" class="form-group">

                <fieldset class="scheduler-border shadow">
                <legend class="scheduler-border">Dades</legend>

                <div class="container well">
                    <div class="horizontal">
                        <div class="row">



                            <div class="col-sm-6">
                                <label for="personName">Name *</label>
                                <input type="text" #personName="ngModel" [(ngModel)]="person.name" class="form-control"
                                    id="personName" name="personName" required inputMinLength>
                                <div class="is-invalid" *ngIf="!personName.pristine && 
                 personName.errors?.required">
                                    <span class="text-danger">Please, enter a name</span>
                                </div>
                                <div class="is-invalid" *ngIf="personName.errors?.isNotCorrect &&
                !personName.errors?.required">
                                    <span class="text-danger">Please, name must be at least five characters</span>
                                </div>
                            </div>



                            <div class="col-sm-6">
                                <label for="personSurname">Surname *</label>
                                <input type="text" #personSurname="ngModel" [(ngModel)]="person.surname "
                                    class="form-control " id="personSurname " name="personSurname " required
                                    inputMinLength>
                                <div class="is-invalid" *ngIf="!personSurname.pristine && 
                                    personSurname.errors?.required">
                                    <span class="text-danger">Please, enter a surname</span>
                                </div>
                                <div class="is-invalid" *ngIf="personSurname.errors?.isNotCorrect &&
                                   !personSurname.errors?.required">
                                    <span class="text-danger">Please, surname must be at least five characters</span>
                                </div>
                            </div>




                            <div class="col-sm-6">
                                <label for="personEmail ">Email *</label>
                                <input type="email " #personEmail="ngModel" [(ngModel)]="person.email"
                                    class="form-control" id="personEmail"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="personEmail" required>
                                <div class="is-invalid" *ngIf="!personEmail.pristine && 
                personEmail.errors?.required">
                                    <span class="text-danger">Please, enter an email</span>
                                </div>
                                <div class="is-invalid" *ngIf="!personEmail.pristine && 
                personEmail.errors?.pattern">
                                    <span class="text-danger">Please, enter a valid email</span>
                                </div>
                            </div>




                            <div class="col-sm-6">
                                <label for="personPhone">Phone *</label>
                                <input type="email" #personPhone="ngModel" [(ngModel)]="person.phone"
                                    class="form-control" id="personPhone" pattern="\d{9}" name="personPhone" required>
                                <div class="is-invalid" *ngIf="!personPhone.pristine && 
                personPhone.errors?.required">
                                    <span class="text-danger">Please, enter a phone</span>
                                </div>
                                <div class="is-invalid" *ngIf="!personPhone.pristine && 
                personPhone.errors?.pattern">
                                    <span class="text-danger">Please, enter a valid phone</span>
                                </div>
                            </div>



                            <div class="col-sm-6">
                                <label for="personSex ">Sex</label>
                                <select class="form-control" [(ngModel)]="person.sex" name="personSex">
                                    <option *ngFor="let resSexAux of personSexAux" [value]="resSexAux" required>
                                        {{resSexAux}}
                                    </option>
                                </select>
                            </div>



                            <div class="col-sm-12 mt-4">
                                <label for="personHabilities">Habilities</label>
                                <div *ngFor="let hab of habilities">
                                    <input type="radio" name="personHab" value={{hab.hability}}
                                        [(ngModel)]="person.habilities.$hability" required>
                                    <span class="ml-2"> {{hab.hability}} </span>
                                </div>
                            </div>


                            
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="d-flex justify-content-around w-50 mt-4">

                <button type="submit" [disabled]="!loginEntryForm.valid"
                    class="btn btn-success">Login</button>
                <br>
                <button type="button" class="btn btn-dark" (click)="toList = !toList">List of
                    Users</button>
            </div>

            </form>

            <app-component2 *ngIf="toList" [objeto]="listPersons"></app-component2>
            <button *ngIf="toList" type="button" class="btn btn-dark" (click)="toList = !toList">Back</button>

        </div>
    </div>
</div>