<div class="jumbotron">
    <h1>Products of Yeasts</h1>
</div>
<div class="container">
    <form #yeastEntryForm="ngForm" action="" (submit)="yeastEntryProducts()">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-8 ">
                    <h3>Introduce the products that ferment yeasts</h3>
                </div>
            </div>
            <br>
            <!--Product name-->
            <label class="col-sm-2">Product name *</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" #yeastName="ngModel" [(ngModel)]="objProducts.name"
                    id="yeastName" name="yeastName" pattern="[A-Za-z]{3,16}"
                    title="Three to sixteen letters product name" required />
            </div>
            <div class="is-invalid" *ngIf="!yeastName.pristine && 
                yeastName.errors?.required">
                <div class="col-sm-4">
                    <span class="text-danger">Please, enter an product name</span>
                </div>
            </div>
            <div class="is-invalid" *ngIf="!yeastName.pristine && 
                yeastName.errors?.pattern">
                <div class="col-sm-4">
                    <span class="text-danger">Please, enter a valid product name. Three to sixteen letters.</span>
                </div>
            </div>
            <br>
            <!--Fermentation-->
            <label class="col-sm-2">Fermentation *</label>
            <div class="col-sm-4">
                <select class="form-control" #fermentationM="ngModel" [(ngModel)]="objProducts.fermentation"
                    name="fermentationM" required>
                    <option *ngFor="let resTypeAux of arraypProducts; let i=index" [ngValue]="resTypeAux">
                        {{resTypeAux.type}}</option>
                </select>
            </div>
            <div class="is-invalid" *ngIf="!fermentationM.pristine && 
            fermentationM.errors?.required">
                <div class="col-sm-4">
                    <span class="text-danger">Please, select a fermentation</span>
                </div>
            </div>
            <br>
            <!--Path image -->
            <label class="col-sm-2">Path image </label>
            <div class="col-sm-4">
                <input type="file" name="myFile" #yeastImage="ngModel" [(ngModel)]="objProducts.image"
                    name="yeastImage"><br><br>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-8 text-center">
                    <button [disabled]="!yeastEntryForm.valid" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>

    </form>
</div>