<!-- This is the main page of the results -->
<form #resultsForm="ngForm" action="" (submit)="results()">
    <div class="jumbotron">
        <div class="col-xs-12 text-center">
            <h2>Results</h2>
        </div>
    </div>
    <br>

    <div class="jumbotron">
        <div class="col-xs-12 text-center">
            <h3>Calculate final price</h3>
        </div>
        <br>

        <!-- Place -->
        <label class="col-xs-12">Where do you prefer to collect the results? *</label>
        <div class="col-xs-12">
            <select class="form-control" name="rPlace" [(ngModel)]="objResults.resultsPlace"
                (ngModelChange)="calculateTotalPrice()" required>
                <option *ngFor="let resPlaceAux
                 of resultsPlaces; let i=index" [ngValue]="resPlaceAux">
                    {{resPlaceAux.description}}</option>
            </select>
        </div>
        <!-- Error div when error required -->
        <div class="col-xs-12" *ngIf="!rPlace?.pristine && 
        rPlace?.errors?.required">
            <span class="text-danger">Please, choose a place</span>
        </div>
        <br><br>

        <!-- Date -->
        <label class="col-xs-12">When do you prefer to collect the results? *</label>
        <div class="col-xs-12">
            <span *ngFor="let resDateAux of
                  resultsDates; let i = index">
                <input type="radio" name="rDate{{i}}" [value]="resDateAux" [(ngModel)]="objResults.resultsDate"
                    (ngModelChange)="calculateTotalPrice()" required>
                {{resDateAux.description}}
            </span>
        </div>
        <!-- Error div when error required -->
        <div class="col-xs-12" *ngIf="!rDate?.pristine && 
        rDate?.errors?.required">
            <span class="text-danger">Please, choose a date</span>
        </div>
        <br><br>

        <!-- Copies -->
        <label class="col-xs-12">Will you need extra copies of the results? *</label>
        <div class="col-xs-12">
            <select class="form-control" name="rCopies" [(ngModel)]="objResults.resultsCopies"
                (ngModelChange)="calculateTotalPrice()" required>
                <option *ngFor="let resCopiesAux
                 of resultsCopies; let i=index" [ngValue]="resCopiesAux">
                    {{resCopiesAux.description}}</option>
            </select>
        </div>
        <!-- Error div when error required -->
        <div class="col-xs-12" *ngIf="!rCopies?.pristine && 
        rCopies?.errors?.required">
            <span class="text-danger">Please, choose an option</span>
        </div>
        <br><br>

        <!-- No. of copies -->
        <label class="col-xs-12">No. of copies</label>
        <div class="col-xs-12">
            <input #resultsNumCopies="ngModel" [(ngModel)]="objResults.resultsNumCopies" name="rNumCopies" type="number" class="form-control" min="1" max="5" />
        </div>
        <br><br>

        <!-- Total price -->
        <label class="col-xs-12">Total price:</label>
        <div class="col-xs-12">
            <b>{{objResults.totalPrice|currency:'EUR':true}}</b>
        </div>
        <br><br>

        <!-- Button submit is disabled until all the form fields are valid -->
        <button type="submit" class="btn btn-primary" [disabled]="!resultsForm.valid">Submit</button>
    </div>
</form>