<div class="container well">
    <ul id="button">
        <nav>
            <li><a routerLink="/new-reservation" routerLinkActive="active">
                    Create Account</a> </li>
            <li><a routerLink="/reservation-management" routerLinkActive="active">
                    Login</a></li>
            <li><a routerLink="/analisis" routerLinkActive="active">
                    Analisis</a></li>
        </nav>
    </ul><br><br>
    <router-outlet></router-outlet>
</div>