<!-- This is the main page of the sequence-entry -->
<form #sequenceEntryForm="ngForm" action="" (submit)="sequenceEntry()">
  <div class="jumbotron">
    <div class="col-xs-12 text-center">
      <h2>Sequence entry</h2>
    </div>
  </div>
  <br>

  <div class="jumbotron">
    <div class="col-xs-12 text-center">
      <h3>Sequence data</h3>
    </div>
    <br>

    <!-- Sequence type -->
    <label class="col-xs-12">Sequence type *</label>
    <div class="col-xs-12">
      <select class="form-control" [(ngModel)]="objSequence.sequenceType" name="sequenceType" required>
        <option *ngFor="let seqTypeAux
         of sequenceTypes; let i=index" [ngValue]="seqTypeAux">
          {{seqTypeAux.description}}</option>
      </select>
    </div>
    <!-- Error div when error required -->
    <div class="col-xs-12" *ngIf="!sequenceType?.pristine && 
              sequenceType?.errors?.required">
      <span class="text-danger">Please, choose a type</span>
    </div>
    <br><br>

    <!-- Sequence -->
    <label class="col-xs-12">Sequence *</label>

    <!-- DNA -->
    <div class="col-xs-12" *ngIf="objSequence.sequenceType.id == 0">
      <div class="col-xs-12">
        <input #sequence="ngModel" [(ngModel)]="objSequence.sequence" name="DNA" type="text" class="form-control"
          placeholder="min. 10 nucleotids" pattern="^[ATCGatcg]{10,}$" required />
      </div>
      <!-- Error div when error required -->
      <div class="col-xs-12" *ngIf="!sequence?.pristine && 
    sequence?.errors?.required">
        <span class="text-danger">Please, enter a sequence</span>
      </div>
      <!-- Error div when error DNA -->
      <div class="col-xs-12" *ngIf="!sequence?.errors?.required && sequence?.errors?.pattern">
        <span class="text-danger">Please, enter a valid DNA sequence (min. 10 nucleotids)</span>
      </div>
    </div>

    <!-- RNA -->
    <div class="col-xs-12" *ngIf="objSequence.sequenceType.id == 1">
      <div class="col-xs-12">
        <input #sequence="ngModel" [(ngModel)]="objSequence.sequence" name="RNA" type="text" class="form-control"
          placeholder="min. 10 nucleotids" pattern="^[AUCGaucg]{10,}$" required />
      </div>
      <!-- Error div when error required -->
      <div class="col-xs-12" *ngIf="!sequence?.pristine && 
    sequence?.errors?.required">
        <span class="text-danger">Please, enter a sequence</span>
      </div>
      <!-- Error div when error RNA -->
      <div class="col-xs-12" *ngIf="!sequence?.errors?.required && sequence?.errors?.pattern">
        <span class="text-danger">Please, enter a valid RNA sequence (min. 10 nucleotids)</span>
      </div>
    </div>

    <!-- Protein -->
    <div class="col-xs-12" *ngIf="objSequence.sequenceType.id == 2">
      <div class="col-xs-12">
        <input #sequence="ngModel" [(ngModel)]="objSequence.sequence" name="protein" type="text" class="form-control"
          placeholder="No. aminoacids multiple of 3" pattern="^[ACDEFGHIKLMNPQRSTVWYacdefghiklmnpqrstvwy]+$" required
          proteinLength />
      </div>
      <!-- Error div when error required -->
      <div class="col-xs-12" *ngIf="!sequence?.pristine && 
    sequence?.errors?.required">
        <span class="text-danger">Please, enter a sequence</span>
      </div>
      <!-- Error div when error length -->
      <div class="col-xs-12" *ngIf="!sequence?.errors?.required && sequence?.errors?.isNotCorrect">
        <span class="text-danger">Please, enter a correct number of aminoacids (multiple of 3)</span>
      </div>
      <!-- Error div when error protein -->
      <div *ngIf="!sequence?.errors?.isNotCorrect && sequence?.errors?.pattern">
        <span class="text-danger">Please, enter a valid protein sequence</span>
      </div>
    </div>
    <br><br>

    <!-- Sequence file -->
    <label class="col-xs-12">Sequence file</label>
    <div class="col-xs-12">
      <input #seqFile="ngModel" [(ngModel)]="objSequence.file" name="seqFile" type="file" class="form-control" />
    </div>
    <br><br>

    <!-- Button submit is disabled until all the form fields are valid -->
    <button type="submit" class="btn btn-primary" [disabled]="!sequenceEntryForm.valid" (click)="alertEvent($event)">Submit</button>
    
  </div>
</form>