<!--
  @name = Protein Component HTML
  @author = David Medel / Esther Vendrell
  @version = 0.0.1
  @description = Main user interface of the Protein component
  @date = 03-02-2020
-->


<app-navbar></app-navbar>
<form #proteinForm="ngForm" action="" (submit)="protein($event)">
    <div class="bg-dark">
        <div class="form-horizontal" style="padding:20px">
            <div class="col-xs-12">
                <h4 style="color:#D5D5D5; text-align:center">Protein Form</h4>
            </div>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-9">
                <h5 class="col-sm-9"><b>Select Protein</b></h5>
            </div>
        </div>
        <hr style="width:96%; margin-left:15px; margin-top:0;">
        <br>

        <!-- Name -->
        <label class="col-sm-6">(*) Name:</label>
        <div class="col-sm-4">
            <input #proteinName="ngModel" [(ngModel)]="objProtein.protein_name" name="proteinName" type="text" class="form-control" placeholder="Ex. 2ki5" required/>
        </div>
        <!-- Error div when error required -->
        <div class="col-sm-4" *ngIf="!proteinName.pristine && proteinName.errors && proteinName.errors.required">
            <span class="text-danger">Please, enter a name</span>
        </div>
        <br>


        <!-- Composition -->
        <label class="col-sm-6">(*) Composition:</label>
        <div class="col-sm-4">
            <select class="form-control" [(ngModel)]="objProtein.componentOfProtein" name="componentOfProtein">
                <option *ngFor="let CompAux
                    of componentOfProteins; let i=index"
                    [ngValue]="CompAux">
                {{CompAux.component}}</option>
            </select>
        </div>
        <br>

        <!-- Type -->
        <label class="col-sm-2">(*) Type: </label>
        <div class="col-sm-6">
            <span *ngFor="let TypeProt of typeOfProteins; 
            let i=index">
                <input type="radio" 
                [(ngModel)]="objProtein.typeOfProtein"
                [value]="TypeProt"
                name="TypeProt"> {{TypeProt.type}}  
            </span>
        </div>
        <br>

        <!-- Function -->
        <label class="col-sm-6">Function(s):</label>
        <div class="col-sm-4">
            <span *ngFor="let FuncProt of functionOfProteins; 
            let i=index">
              <input type="checkbox" name="FuncProt"
              (click)="addRemoveFunctionProtein(FuncProt)"> {{FuncProt.function}}
              <br>
            </span>
        </div>
        <br>




        <button type="submit" class="btn btn-dark" [disabled]="!proteinForm.valid">Submit</button>
        <br><br>

    </div>
</form>