<!--
  @name = Navbar Component HTML
  @author = David Medel / Esther Vendrell
  @version = 0.0.1
  @description = Main user interface of the Navbar component. Is the Menu.
  @date = 03-02-2020
-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/navbar">
    <h5>HOME</h5>
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
        [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/protein"><h5>Protein</h5></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/chain"><h5>Chain</h5></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/aminoacid"><h5>Aminoacid</h5></a>
      </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/atom"><h5>Atom</h5></a>
      </li>
    </ul>
  </div>
</nav>
<hr class="divider"/>