<div class="container">
  <div>
    <table class="table table-bordered">
      <tr>
        <td>Filter by size:</td>
        <td><input type="range" min="0" max="991585" [(ngModel)]="sizeFilter" name="sizeFilter"
          (ngModelChange)="filter()"/> -- {{sizeFilter}}</td>
      </tr>
      <tr>
        <td>Filter by phylo:</td>
        <td>
          <select class="form-control" name="phyloFilter"  id="phyloFilter" #genre
          [(ngModel)]="phyloFilter" (ngModelChange)="filter()" required>
            <option *ngFor="let phyl of phylos;
           let i = index" [ngValue]="phyl">{{phyl.phylo}}
            </option>
          </select>
        </td>
      </tr>
      <tr>
          <td>Filter by date:</td>
          <td>
            <input type="date" name="startDateFilter" [ngModel]="startDateFilter| date:'yyyy-MM-dd'" (ngModelChange)="startDateFilter = $event; filter()"> --- 
            <input type="date" name="endDateFilter" [ngModel]="endDateFilter| date:'yyyy-MM-dd'" (ngModelChange)="endDateFilter = $event; filter()">
          </td>
        </tr>
      <tr>
        <td>Items per page: </td>
        <td>
          <input type="text" [(ngModel)]="itemsPerPage" name="itemsPerPage">
        </td>
      </tr>
   
      <tr>
        <td>Number of genomes:</td>
        <td>{{genomesFiltered.length}}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="genomesFiltered.length==0">
    <h2>No genomes found</h2>
  </div>
  <div *ngIf="genomesFiltered.length!=0">
    <form #myForm="ngForm">
      <h2>Genomes found:</h2>
      <table class="table table-bordered">
        <tr>
            <td><input type="checkbox" name="" [checked]="checkStatus" (click)="changeCheckStatus()"></td>
            <td><b>ID</b></td>
            <td><b>Organism</b></td>
            <td><b>Kingdom</b></td>
            <td><b>Phylo</b></td>
            <td><b>Size</b></td>
            <td><b>Release date</b></td>
            <td><b>Edit</b></td>
            <td><b>Del</b></td>
        </tr>
        <tr *ngFor="let gen of genomesFiltered | paginate : 
        {itemsPerPage: itemsPerPage,
        currentPage: currentPage}
        ; let i=index">
            <td><input type="checkbox" name="" [checked]="checkStatus"></td>
            <td>{{gen.id}}</td>
            <td>{{gen.organism}}</td>
            <td>{{gen.kingdom.kingdom}}</td>
            <td>{{gen.phylo.phylo}}</td>
            <td>{{gen.size}}</td>
            <td>{{gen.releaseDate | date: 'dd-MM-yyyy'}}</td>
            <td><button class="btn btn-info">Edit</button></td>
            <td><button class="btn btn-danger" (click)="delete(gen)">X</button></td>
        </tr>

      </table>
      <button class="btn btn-danger" (click)="deleteAll()">Delete All</button>
<br><br>
      <pagination-controls (pageChange)=
      "currentPage=$event"
      maxSize="5"
      directionLinks="true"
      autoHide="true">
    </pagination-controls>
  
 
</form>
</div>
</div>


