<div class="jumbotron">
  <h1>Metabolism Yeast</h1>
</div>
<div class="container">
  <form #formEnvironments="ngForm" (submit)='getMetabolism()'>
    <!--Metabolism-->
    <label class="col-sm-2">Metabolism *</label>
    <div class="col-sm-4">
      <input type="checkbox" #Aerobic="ngModel" name="Aerobic" [(ngModel)]="objMetabolism.aerobic" required> Aerobic
    </div>
    <div class="is-invalid" *ngIf="!Aerobic.pristine && 
                Aerobic.errors?.required">
      <div class="col-sm-4">
        <span class="text-danger">Please, enter a metabolism</span>
      </div>
    </div>
    <br>
    <!--Temperature-->
    <label class="col-sm-2">Temperature </label>
    <div class="col-sm-4">
      <input type="text" #temperature="ngModel" name="temperature" [(ngModel)]="objMetabolism.temperature"
        pattern="[0-9]+" title="Only numbers">
    </div>
    <div class="is-invalid" *ngIf="!temperature.pristine && 
    temperature.errors?.pattern">
      <div class="col-sm-4">
        <span class="text-danger">Please, enter a valid temperature.Only letters numbers .</span>
      </div>
    </div>
    <br>
    <!--Nutrition-->
    <label class="col-sm-2">Nutrition </label>
    <div class="col-sm-4">
      <input type="text" #nutrition="ngModel" name="nutrition" [(ngModel)]="objMetabolism.nutrition">
    </div>
    <br>
    <br>
    <div class="col-sm-4">
      <input type="submit" [disabled]="!formEnvironments.valid">
    </div>
  </form>

</div>