<form #feedbackForm="ngForm" action="" (submit)="feedback()">
    <div class="jumbotron">
        <div class="col-xs-12 text-center">
            <h2>Feedback</h2>
        </div>
    </div>
    <br>

    <div class="jumbotron">
        <div class="col-xs-12 text-center">
            <h3>Personal data</h3>
        </div>
        <br>

        <!-- Name -->
        <label class="col-xs-12">Name *</label>
        <div class="col-xs-12">
            <input #fName="ngModel" [(ngModel)]="objFeedback.name" name="fName" type="text" class="form-control"
                required />
        </div>
        <!-- Error div when error required -->
        <div class="col-xs-12" *ngIf="!fName.pristine && 
              fName.errors?.required">
            <span class="text-danger">Please, enter a name</span>
        </div>
        <br>

        <!-- Surname -->
        <label class="col-xs-12">Surname *</label>
        <div class="col-xs-12">
            <input #fSurname="ngModel" [(ngModel)]="objFeedback.surname" name="fSurname" type="text"
                class="form-control" required />
        </div>
        <!-- Error div when error required -->
        <div class="col-xs-12" *ngIf="!fSurname.pristine && 
              fSurname.errors?.required">
            <span class="text-danger">Please, enter a surname</span>
        </div>
        <br>

        <!-- Email -->
        <label class="col-xs-12">Email *</label>
        <div class="col-xs-12">
            <input #fEmail="ngModel" [(ngModel)]="objFeedback.email" name="fEmail" type="email" class="form-control"
                placeholder="hola@hola.com" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
        </div>
        <!-- Error div when error required -->
        <div class="col-xs-12" *ngIf="!fEmail.pristine && 
          fEmail.errors?.required">
            <span class="text-danger">Please, enter an email</span>
        </div>
        <!-- Error div when error email -->
        <div class="col-xs-12" *ngIf="!fEmail.errors?.required &&
           fEmail.errors?.pattern">
            <span class="text-danger">Please, enter an email with a valid format</span>
        </div>
        <br><br>

        <div class="col-xs-12 text-center">
            <h3>Feedback</h3>
        </div>
        <br>

        <label class="col-xs-12">How did you know this webpage? (You can choose more than one option)</label>
        <div class="col-xs-12">
            <span *ngFor="let resPlaceAux of places; 
            let i=index">
                <input type="checkbox" name="fPlaces" (click)="addRemovePlaces(resPlaceAux)">{{resPlaceAux.description}}
            </span>
        </div>
        <br><br>

        <label class="col-xs-12">How do you rate the webpage?</label>
        <div class="col-xs-12">
            <span *ngFor="let resRateAux of
                  rates; let i = index">
                <input type="radio" name="fRate{{i}}" [value]="resRateAux" [(ngModel)]="objFeedback.rate">
                {{resRateAux.description}}
            </span>
        </div>
        <br><br>

        <label class="col-xs-12">Would you recommend us?</label>
        <div class="col-xs-12">
            <select class="form-control" [(ngModel)]="objFeedback.recommendation" name="fRecommendation">
                <option *ngFor="let resRecommendationAux
                 of recommendations; let i=index" [ngValue]="resRecommendationAux">
                    {{resRecommendationAux.description}}</option>
            </select>
        </div>
        <br><br>

        <label class="col-xs-12">Comments *</label>
        <div class="col-xs-12">
            <textarea #fComments="ngModel" [(ngModel)]="objFeedback.comments" name="fComments" rows="4" cols="50"
                maxlength="100" class="form-control" placeholder="max. 100 characters" required></textarea>
        </div>
        <!-- Error div when error required -->
        <div class="col-xs-12" *ngIf="!fComments.pristine && 
      fComments.errors?.required">
            <span class="text-danger">Please, enter a comment</span>
        </div>
        <!-- Error div when error maxLength -->
        <div class="col-xs-12" *ngIf="!fComments.errors?.required && 
      fComments.errors?.maxLength">
            <span class="text-danger">Please, enter a comment of maximum 100 characters</span>
        </div>
        <br><br>

        <!-- Button submit is disabled until all the form fields are valid -->
        <button type="submit" class="btn btn-primary" [disabled]="!feedbackForm.valid">Submit</button>
    </div>
</form>