<div class="jumbotron">
    <h1>Environment Yeast</h1>
</div>
<div class="container">
    <form #formEnvironments="ngForm" (submit)='getEnvironments()'>
        <!--Geography-->
        <label class="col-sm-2">Geography *</label>
        <div class="col-sm-4">
            <input type="text" #geographhy="ngModel" name="geographhy" [(ngModel)]="objEnvironment.geography" required>
        </div>
        <div class="is-invalid" *ngIf="!geographhy.pristine && 
                geographhy.errors?.required">
            <div class="col-sm-4">
                <span class="text-danger">Please, enter a geography</span>
            </div>
        </div>
        <br>
        <!--Weather-->
        <label class="col-sm-2">Weather * </label>
        <div class="col-sm-4">
            <input type="text" #weather="ngModel" name="weather" [(ngModel)]="objEnvironment.weather" required>
        </div>
        <div class="is-invalid" *ngIf="!weather.pristine && 
        weather.errors?.required">
            <div class="col-sm-4">
                <span class="text-danger">Please, enter a weather</span>
            </div>
        </div>
        <br>
        <br>
        <div class="col-sm-4">
            <input type="submit"  [disabled]="!formEnvironments.valid">
        </div>
    </form>
</div>