<div class="row">
    <div class="col text-center">
        <h3>List of Users</h3>
    </div>
</div>
<div class="row">
    <table class="table">
        <tr>
            <th *ngFor="let tempCol of listFilas">
                {{tempCol}}
            </th>
        </tr>
        <tr *ngFor="let tempRow of objeto">
            <td>
                {{tempRow.name}}
            </td>
            <td>
                {{tempRow.surname}}
            </td>
            <td>
                {{tempRow.email}}
            </td>
            <td>
                {{tempRow.phone}}
            </td>
            <td>
                {{tempRow.sex}}
            </td>
            <td>
                {{tempRow.habilities.hability}}
            </td>
        </tr>
    </table>
</div>
<br>
<br><br>