<form #reservationEntryForm="ngForm" (submit)="reservationEntry()">
    <h2 style="margin-left: 42%;" class="titulo">Entrar</h2>
    <div class="container well jumbotron">
        <div class="horizontal">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="clientEmail" class="col-sm-4">Email</label>
                        <div class="col-sm-4">
                            <input type="email" #clientEmail="ngModel" [(ngModel)]="reservation.email"
                                class="form-control" id="clientEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                name="clientEmail" required email>
                        </div>
                        <div class="is-invalid" *ngIf="!clientEmail.pristine &&
                clientEmail.errors?.required">
                            <span class="text-danger">Introduce un email valido</span>
                        </div>

                        <label for="clientPassword" class="col-sm-2">Contraseña </label>
                        <div class="col-sm-4">
                            <input type="password" #clientPassword="ngModel" [(ngModel)]="reservation.password"
                                class="form-control" id="clientPassword" name="clientPassword" required inputMinLength>
                        </div>
                        <div class="is-invalid" *ngIf="!clientPassword.pristine && 
                 clientPassword.errors?.required">
                            <span class="text-danger">Porfavor, pon una contraseña!</span>
                        </div>
                        <div class="is-invalid" *ngIf="clientPassword.errors?.isNotCorrect &&
                !clientPassword.errors?.required">
                            <span class="text-danger">Porfavor, pon un nombre con 3 caracteres</span>
                        </div>
                        <br><br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button type="submit" [disabled]="!reservationEntryForm.valid"
                                        class="btn btn-info">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>