<form #formPerson="ngForm" action="" (submit)="onSubmit()">
    <!-- Tittle -->
    <div class="mb-2">
        <h5>{{title|titlecase}}</h5>
        <span class="mt-1 text-info">Required fields <sup>*</sup></span>
    </div>

    <!--Is divided for 3 columns, the inputs first name and last name for 2 columns and others 1 columns -->
    <mat-grid-list cols="3" rowHeight="6em" gutterSize="1em">

        <!--1. First Name field -->
        <mat-grid-tile colspan="2">
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>First Name</mat-label>

                <input matInput #firstName="ngModel" [(ngModel)]="person.$first_name"
                    (change)="person.$first_name = trim(person.$first_name)" type="text" name="firstName" required
                    isValidName>

                <!-- Hint for first name  -->
                <mat-hint *ngIf="firstName.untouched">
                    <mat-icon>info</mat-icon>
                    <!--Information icon-->
                    Minimum three letters.
                </mat-hint>
                <!-- First name errors -->
                <mat-error *ngIf="firstName.touched">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span *ngIf="firstName.errors?.required">Please enter a name!</span>
                    <span *ngIf="firstName.errors?.inCorrectName && !firstName.errors?.required">
                        Name must be at least three letters and does not accepts any other character!
                    </span>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <!--2. DNI field -->
        <mat-grid-tile>
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>DNI</mat-label>
                <input matInput #dni="ngModel" [(ngModel)]="person.$dni" (change)="person.$dni = trim(person.$dni)"
                    type="text" name="dni" pattern="[0-9]{8}[a-zA-Z]" required>

                <!-- Hint for DNI -->
                <mat-hint *ngIf="dni.untouched">
                    <mat-icon>info</mat-icon>
                    <!--Information icon-->
                    EX: 64568599D
                </mat-hint>
                <!-- DNI errors -->
                <mat-error *ngIf="dni.touched">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span *ngIf="dni.errors?.required">Please enter a DNI!</span>
                    <span *ngIf="dni.errors?.pattern && !dni.errors?.required">
                        DNI must be of 9 characters, last one as a letter!<br>Ex: 64568599D.
                    </span>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <!--3. Last Name field -->
        <mat-grid-tile colspan="2">
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>Last Name</mat-label>
                <input matInput #lastName="ngModel" [(ngModel)]="person.$last_name"
                    (change)="person.$last_name = trim(person.$last_name)" type="text" name="lastName" required
                    isValidName>

                <!-- Hint for last name  -->
                <mat-hint *ngIf="lastName.untouched">
                    <mat-icon>info</mat-icon>
                    Minimum three letters.
                </mat-hint>
                <!-- Last name errors -->
                <mat-error *ngIf="lastName.touched">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span *ngIf="lastName.errors?.required">Please enter a name!</span>
                    <span *ngIf="lastName.errors?.inCorrectName && !lastName.errors?.required">
                        Name must be at least three letters and does not accepts any other character!
                    </span>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>


        <!--4. Age field -->
        <mat-grid-tile>
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>AGE</mat-label>
                <input matInput #age="ngModel" [(ngModel)]="person.$age" type="number" name="age" min=1 max=100
                    pattern="([1-9][0-9]?|100)" required>

                <!-- Hint for Age  -->
                <mat-hint *ngIf="age.untouched">
                    <mat-icon>info</mat-icon>
                    <!--Information icon-->
                    Between 1 and 100.
                </mat-hint>
                <!-- Age input's errors  -->
                <mat-error *ngIf="age.touched">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span *ngIf="age.errors?.required">Please enter the age (number).</span>
                    <span *ngIf="age.errors?.pattern && !age.errors?.required">
                        Age must be between 1 and 100 !
                    </span>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <!--5. Phone field -->
        <mat-grid-tile>
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>Phone Number</mat-label>

                <input matInput #phone="ngModel" [(ngModel)]="person.$phone"
                    (change)="person.$phone = trim(person.$phone)" type="text" name="phone"
                    pattern="(\+|00)[1-9][0-9]{9,16}">
                <!--Input is not required-->

                <!-- Hint for Phone  -->
                <!-- If the phone input is null-->
                <mat-hint *ngIf="!person.$phone">
                    <mat-icon>info</mat-icon>
                    <!--Information icon-->
                    EX: +34632545895 or 0034632545895
                </mat-hint>
                <!-- Phone input's errors  -->
                <mat-error *ngIf="phone.touched">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span *ngIf="phone.errors?.pattern">
                        Phone number is incorrect, please correct it! <br> Ex: +34632545895 or 0034632545895
                    </span>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <!--6. Street Name field -->
        <mat-grid-tile>
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>Street</mat-label>

                <input matInput #streetName="ngModel" [(ngModel)]="person.$address.$street_name"
                    (change)="person.$address.$street_name = trim(person.$address.$street_name)" type="text"
                    name="streetName" required pattern="[a-zA-z0-9ñáéíóúüÑÁÉÍÓÚÜ]+(\s[a-zA-z0-9ñáéíóúüÑÁÉÍÓÚÜ]+)*">
                <!--Accepts just letters and white space after a word or letter>

                <!-- Hint for street name  -->
                <mat-hint *ngIf="streetName.untouched">
                    <mat-icon>info</mat-icon>
                    Minimum three characters.
                </mat-hint>
                <!-- Street name errors -->
                <mat-error *ngIf="streetName.touched">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span *ngIf="streetName.errors?.required">Please enter the street name!</span>
                    <span *ngIf="streetName.errors?.pattern && !streetName.errors?.required">
                        Street name accepts just letters and white space after a word or letter!
                    </span>
                </mat-error>

            </mat-form-field>
        </mat-grid-tile>

        <!--7. Building Number  field -->
        <mat-grid-tile>
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>Building Number</mat-label>

                <input matInput #buildingNumber="ngModel" [(ngModel)]="person.$address.$number" type="number"
                    name="buildingNumber" required min="0">

                <!-- Hint for building number  -->
                <mat-hint *ngIf="buildingNumber.untouched">
                    <mat-icon>info</mat-icon>
                    <!--Information icon-->
                    Number of building.
                </mat-hint>
                <!-- Age input's errors  -->
                <mat-error *ngIf="buildingNumber.touched && buildingNumber.errors?.required">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span>Please enter the br building number.</span>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>


        <!-- Other address  field -->
        <mat-grid-tile>
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>Other</mat-label>
                <input matInput #otherAddress="ngModel" [(ngModel)]="person.$address.$other"
                    (change)="person.$address.$other = trim(person.$address.$other)" type="text" name="otherAddress">

                <mat-hint *ngIf="!otherAddress.value">
                    <mat-icon>info</mat-icon>
                    <!--Information icon-->
                    Any other information related to the address
                </mat-hint>
            </mat-form-field>
        </mat-grid-tile>

        <!-- City field -->
        <mat-grid-tile>
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>City</mat-label>
                <input matInput #city="ngModel" [(ngModel)]="person.$address.$city"
                    (change)="person.$address.$city = trim(person.$address.$city)"
                    pattern="[a-zA-z0-9ñáéíóúüÑÁÉÍÓÚÜ]+(\s[a-zA-z0-9ñáéíóúüÑÁÉÍÓÚÜ]+)*" type="text" name="city"
                    required>

                <mat-hint *ngIf="city.untouched">
                    <mat-icon>info</mat-icon>
                    EX: United State
                </mat-hint>
                <!-- Last name errors -->
                <mat-error *ngIf="city.touched">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span *ngIf="city.errors?.required">Please enter the name of city!</span>
                    <span *ngIf="city.errors?.pattern && !city.errors?.required">
                        City name accepts just letters and white space after a word or letter!
                    </span>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <!-- Postal code  field -->
        <mat-grid-tile>
            <mat-form-field appearance="standard" class="w-100 mb-4">
                <mat-label>Postal Code</mat-label>

                <input matInput #postalCode="ngModel" [(ngModel)]="person.$address.$postal_code"
                    (change)="person.$address.$postal_code = trim(person.$address.$postal_code)" type="text"
                    name="postalCode" maxlength="7" pattern="([0-9a-zA-Z]+(( |-)?[0-9a-zA-Z])?)+" required>

                <mat-hint *ngIf="postalCode.untouched">
                    <mat-icon>info</mat-icon>Accepts white space <br> or hyphen - between words
                </mat-hint>
                <mat-hint align="end">{{postalCode.value?.length || '0' }} / 7</mat-hint>

                <mat-error *ngIf="postalCode.touched">
                    <mat-icon>error</mat-icon>
                    <!--Error icon-->
                    <span *ngIf="postalCode.errors?.required">Please enter the postal code!</span>
                    <span *ngIf="postalCode.errors?.pattern && !postalCode.errors?.required">
                        It accepts letters and a hyphen - or white space between letters
                    </span>
                </mat-error>
            </mat-form-field>
        </mat-grid-tile>

    </mat-grid-list>
    <br><br>
    <button mat-button matStepperNex type="submit" mat-flat-button color="primary"
        [disabled]="formPerson.invalid">Next</button>
</form>