<form #formTool="ngForm" action="">


    <!-- Material name input field -->
    <mat-form-field>
        <mat-label>Tool Name</mat-label>
        <input matInput type="text" #toolName="ngModel" name="toolName" [(ngModel)]="data.$name" required />
        <mat-error *ngIf="toolName.touched && toolName.errors?.required">
            Please enter the name of tool.
        </mat-error>
    </mat-form-field>
    <br>
    <br>
    <!-- Price input field -->
    <mat-form-field>
        <mat-label>Price <mat-icon>euro_symbol</mat-icon>
        </mat-label>
        <input matInput type="number" name="price" #number="ngModel" [(ngModel)]="data.$price" required />
        <!-- Accepts numbers -->
        <mat-error *ngIf="number.touched && number.errors?.required">
            Please enter the price <span *ngIf="data.$name"> of {{data.$name| titlecase}}</span>.
        </mat-error>
    </mat-form-field>
    <br>
    <br>

    <!-- Checkbox for material availability -->
    <mat-checkbox name="type" color="primary" [(ngModel)]="data.$availability">Available</mat-checkbox>

    <br>
    <br>

    <div class="d-flex justify-content-around">
        <button type="submit" mat-flat-button color="primary" [disabled]="formTool.invalid"
            [mat-dialog-close]="data">Submit</button>
        <button mat-button color="warn"  (click)="onNoClick()" >Cancel</button>

    </div>
</form>