<div class="container mt-4 p-4 shadow outlets">

    <button type="submit" mat-flat-button color="primary" (click)=addMaterial()>Add new tool</button>
    
    <div class="mt-4 text-center">
      
        <div class="">
            <h5 *ngIf="materialList?.length==0"> Material Box is empty</h5>
            <h4  *ngIf="materialList?.length> 0" >Total {{materialList.length}} tool{{materialList.length==1?"":"s"}}</h4>
        </div>
        <table class="table mt-4 text-left" *ngIf="materialList?.length > 0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>availability</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let item of materialList">
                    <td>{{item.$id}}</td>
                    <td>{{item.$name}}</td>
                    <!-- Currency pipe to local currency defined in module.ts -->
                    <td>{{item.$price |  currency:'EUR' }}</td>
                    <td>{{item.$availability?"YES":"NO"}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>